{% extends 'index.html' %}
{% block css %}
    <style>
        tr,th,td 
        {
            padding: 15px;
        }
    </style>
{% endblock css %}
{% block body %}
<div class="container">
    <table>
        <tr>
            <th>BOOK DETAILS</th>
        </tr>
        <tr>
            <td>
                <th>book name</th>
                <td>xxxxxxxx</td>
            </td>
        </tr>
        <tr>
            <td>
                <th>auther name</th>
                <td>xxxxxxxx</td>
            </td>
        </tr>
        <tr>
            <td>
                <th>publication name</th>
                <td>xxxxxxxx</td>
            </td>
        </tr>
        <tr>
            <td>
                <th>book code</th>
                <td>xxxxxxxx</td>
            </td>
        </tr>
    </table>
    <th>BOOK SUMMARY</th> <br>
    <code> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur eius sapiente tenetur aliquam? Dolorum quas quidem optio similique ratione ex repellendus, exercitationem mollitia reiciendis dolores fugit ut, est ducimus odio? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil libero iure, totam repellendus aliquid vel voluptate ex officia obcaecati reiciendis corrupti impedit nemo dolores numquam quidem minus facere, laudantium alias?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur quasi quis earum cum culpa laudantium. Alias minima enim numquam odit cum ea temporibus, facere eos expedita recusandae illum laudantium corrupti?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ea sed modi. Blanditiis, omnis? Accusantium voluptatem enim quis unde sequi saepe ratione! Doloremque numquam voluptatibus ratione alias fuga repellat provident!</code>
  </div>
  <div> <h6 style="display: inline;">book status :-> </h6> xxxxxx</div>
{% endblock body %}